---
layout: archive
---

{{ content }}

<!-- Debug section -->
<div style="color: red;">
  Number of news items: {{ site.news.size }}
  {% for item in site.news %}
    <p>Found: {{ item.title }} ({{ item.date }})</p>
  {% endfor %}
</div>

{% assign entries_by_year = site.news | sort: 'date' | reverse | group_by_exp: "news", "news.date | date: '%Y'" %}
{% for year in entries_by_year %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for news in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}